video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

header
{
    background-color: #0A1128;
    position: fixed;
    z-index: 1;
}

header a 
{
    color: #ffffff;
    text-decoration: none;
}

header a:hover
{
    color: #ffffff;
    text-decoration: underline;
}

article
{
    width: 100%;
    height: auto;

}

footer
{
    background-color: #0A1128;   
    color: #ffffff;
    /* position: absolute; */
    bottom: 0;
    max-height: 10%;
    width: 100%;
}
footer span
{
    font-weight: bold;
    font-style: italic;
    text-decoration:underline;

}
footer a
{
    color: #ffffff;
}
footer a:hover
{
    color: #034078;
}

i
{
    vertical-align: text-bottom;
}

.center
{
    margin: auto;
    justify-content: center;
    text-align: center;
}

#vgomb
{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
}
