i
{
    vertical-align: text-bottom;
}

span
{
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.content
{
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border: 3px solid #034078;
}

.categories
{
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.shop
{
    width: 15%;
    height: auto;
    border-radius: 10px;
}

.HASB
{
    border-radius: 30px;
    color: #ffffff;
    background-color: #034078;
    border: none;
}







/* teszt content */

.tc
{
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    border: 3px solid #034078;
}